// 메뉴
.spread-btn{
    right: 15%;
    position: absolute;
    padding: 0;
    padding-top: 2px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  .menu-wrapper {
    text-align: left;
    margin-left: 30%;
  }
  .submenu.menu-wrapper{
    right: 10%;
    position: absolute;
    background-color: rgb(34,31,32);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 10rem;
    z-index: 5;
    ul{
      margin: 0;
      padding: 0 1.25rem;
    }
  }
  .submenu.menu-wrapper.hide{
    display: none;
  }

// https://github.com/LazyRen/LazyRen.github.io/commit/6c28ca9d838b7100e2d478a256dae7d12aeb3ada
.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }
  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

// Remove menu button from the top
#_menu {
  display:none;
}

// Sidebar Modification

.sidebar {
  text-align: center;
}

.sidebar-sticky {
  position: absolute;
  height: 95%;
  padding-top: 5%;
  opacity: 1;
}

.sidebar-nav-item {
  width:100%;
  // font-weight: normal;
  padding: .25rem 0;
}

.sidebar-nav-subitem {
  @extend .f4;
  // font-weight: normal;
  display: inline-block;
  // line-height: 1.75;
  padding: .25rem 0;
}

.list-wrapper {
  text-align: left;
  display: flex;
}

.list-body {
  text-align: left;
  margin: 4px;
}

// Submenu Insertion

.folder {
  color: #fff;
  font-size: x-large;
  position: absolute;
  cursor: pointer;
  right: 30px;
}

.folder:hover {
  color: #4FB1BA;
}

input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  list-style: none;
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

// Resume

.project-date {
  font-weight:var(--font-weight);
  display:inline;
}

// Printing

@media print {
   a[href]:after {
      display: none;
      visibility: hidden;
   }
}